<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management</title>
  </head>

  <body>
    <h1>Welcome "{{user.username}}"</h1>
    <a href="{% url 'logout' %}"><button>Log Out</button></a></div></br></br>

        <a href="{% url 'register_page' %}"><button>Register New User</button></a></div></br></br>   

     {%block teacher%}
     <a href="/teacher">
      <button>Check teachers</button></a></div></br></br>
    </a>{%endblock%}
    {%block student%}
    <a href="/student">
     <button>Check students</button></a></div></br>
   </a>{%endblock%}
  

  </body>

</html>