{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Student Management</title>
    <style>
      table, th, td {
      margin-left:auto;
      margin-right:auto;
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
  </head>
    <body>
      <nav>
        <h1>Welcome "{{user.username}}"</h1>
        <a href="{% url 'logout' %}"><button>Log Out</button></a></div></br></br>
      </nav>
      <div>
        {% block teacher_grade%}
        <a href="/teacher_grade">
          <button>Students in physics</button> </a
        >
        {%endblock%}
        
      {%if teachers%}
      {% for teacher in teachers%}
      <table>
        <tr>
          <th>Your name</th>
          <td>{{teacher.name}}</td>
        </tr>
        <tr><th>Department</th>
        <td>{{teacher.department}}</td></tr>
        <tr><th>Class Assigned</th>
        <td>{{teacher.class_assigned}}</td></tr>
        {%for subject in subjects%}
          <tr>
            <th>Subject</th>
            <td>{{subject.sub_name}}</td>
          </tr>
        {%endfor%}

      </table>{%endfor%}
      {%endif%}
    </div></br>

    
   {%if form%}   
  {% comment %} <form method="POST" action="{% url 'teacher_base_edit' instance.id %}" enctype ="multipart/form-data">
    {%csrf_token%}
        {{form}}
        <button type = "submit">Update</button>
      </form>  {% endcomment %}

      {% comment %} <h1>Update</h1>
      <div>
        <form method="POST" action="{% url 'teacher_base_edit' instance.id%} ">
          {% csrf_token %} {{ form.as_p}}
          <button type="submit">Submit</button>
        </form>
      </div> {% endcomment %}

{%else%}

<div>
  <table>
    <thead>
      <tr>
        <th>Student name</th>
        <th>Overall Grade</th>
        <th>Enrolled Class</th>
       <th>Image</th>
       {% comment %} <th> Grade in your subject</th> {% endcomment %}
       <th>Update Student</th>
      </tr>
    </thead>
    <tbody>
      
      {%for student in students%}
        <tr>
          <td>{{student.s_name}}</td> 
          <td>{{student.grade}}</td>
          <td>{{student.class_enrolled.room_number}}</td>
          <td> 
            {% if student.image %}
              <img src="{{ student.image.url }}" alt="Student Image" width="50" height="50">
            {% else %}
              <p>No img</p>
            {% endif %}</td>
           {% comment %} <td> 
            {% for mark in marks %}
            {% if mark.student == student %}
              {{ mark.studentgrade }}
            {% endif %}
          {% endfor %}
           </td> {% endcomment %}
            {% comment %} <td><a href ="{% url 'teacher_base_edit' student.id %}"> Edit </a></td> {% endcomment %}

            {% comment %} <td> <form method="POST" action="{% url 'teacher_base_edit' student.id%} ">
              {% csrf_token %}
              <input type="text" name="grade" placeholder="grade" required>
              <button type="submit">Update</button>
            </form></td> {% endcomment %}
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>


{%endif%}
  </body>
  </html>